@font-face {
    font-family: 'logikwide_bold';
    src: url('./../assets/fonts/logik-wide-webfont.woff2') format('woff2'),
         url('./../assets/fonts/logik-wide-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'logikextended_medium';
    src: url('./../assets/fonts/logik-extended-6-webfont.woff2') format('woff2'),
         url('./../assets/fonts/logik-extended-6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'logiksemibold';
    src: url('./../assets/fonts/logik-6-webfont.woff2') format('woff2'),
         url('./../assets/fonts/logik-6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root{
    --yellow: #F4A800;
    --orange:  #F77F00;
    --red: #D62828;
    --gradient: linear-gradient(
        to right, 
        #D62828 13%, 
        #F77F00 54%, 
        #F68000 55%, 
        #F59600 69%, 
        #F4A300 84%, 
        #F4A800 97%
    );
    --blue: #28A2D6;
    --half-gray: #595959;
    --white: #FFFFFF;
    --white-gray: #F8F8F8;
    --light-gray: #B0B0B0;
    --gray: #767676;
    --dark-gray: #343434;
    --darker-gray: #131313;
    --black: #000000;
    --gradient-gray: linear-gradient(
        to right, 
        rgba(194, 194, 194, 1) 0%, 
        rgba(194, 194, 194, 0) 100%
    );
    --manrope: "Manrope", sans-serif;
    --logik-bold: 'logikwide_bold';
    --logik-semibold: 'logiksemibold';
    --openSans: "Open Sans", sans-serif;
} 
.container{
    max-width: 1242px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding-inline: 20px;
}
.title--bold{ font-family: var(--logik-bold);}
.title--semibold{ font-family: var(--logik-semibold);}
.title--big {font-size: 35px;}
.title--small{font-size: 14px !important;}
.title--upper {text-transform: uppercase;}
.title--black{color: var(--black);}
.title--white {color: var(--white);}
.title--gray{color: var(--gray);}
.title--dark-gray{color: var(--dark-gray);}
.title--yellow {color: var(--yellow);}
.title--orange{color: var(--orange);}
.title--gradient{
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 41px;
}
.title--semibold {font-weight: 400;}
.title--medium {font-weight:600;}
.title--bold{font-weight: 700;}
.title--border-red{ border-bottom: 3px solid var(--red);}
.title--border-orange{border-bottom: 3px solid var(--orange);}
.title--border-yellow{border-bottom: 3px solid var(--yellow)}
.title--border-blue{border-bottom: 3px solid var(--blue)}
.title-desktop{display: block;}

.paragraph{font-family: var(--manrope);}
.paragraph--upper {text-transform: uppercase;}
.paragraph--medium{font-weight: 600;}
.paragraph--white{color: var(--white);}
.paragraph--light-gray{color: var(--light-gray)}
.paragraph--gray{color: var(--gray);}
.paragraph--orange{color: var(--orange);}
.paragraph-dark-gray{color: var(--dark-gray);}
.paragraph--semi{font-weight: 300;}
.paragraph--semibold{font-weight: 400;}
.paragraph-bk--orange{
    transition: all .5s;
    &:hover{
        background-color: var(--orange);
        color: var(--white);
    }
} 

.letter--big{font-size: 40px;}
.letter--medium{font-size: 30px;}
.letter-small{font-size: 16px;}

link{font-family: var(--manrope);} 
.link--upper{text-transform: uppercase;}
.link--medium{font-size: 15px;} 
.link--semibold{font-weight: 400;} 
.link--light-gray{color:var(--light-gray)}
.link--gray{color: var(--gray);}

.bk--red{
    transition: all .5s;
    &:hover{
        background-color: var(--red);
        h2{
            color: var(--white);
        }
    }
}
.bk--orange{
    transition: all .5s;
    &:hover{
        background-color: var(--orange);
        h2{
            color: var(--white);
        }
    }
}
.bk--yellow{
    transition: all .5s;
    &:hover{
        background-color: var(--yellow);
        h2{
            color: var(--white);
        }
    }
}
.bk--blue{
    transition: all .5s;
    &:hover{
        background-color: var(--blue);
        h2{
            color: var(--white);
        }
    }
}
.btn {
    font-family: var(--manrope);
    cursor: pointer;
}
.btn--upper{ text-transform: uppercase; }
.btn--big {
    font-size: 18px;
    padding: 15px 45px;
}
.btn--medium{ padding: 12px 30px; }
.btn--white {
    background: none;
    border-color: var(--white);
    color: var(--white);
    transition: 0.3s linear all;
    &:hover{
        background: var(--orange);
        border-color: var(--white);
    }
}
.btn--light-gray{
    padding: 8px 20px;
    border: thin solid var(--light-gray);
}
.btn--bold{font-weight: 800;}
.btn--radius{ 
    border-radius: 30px;
    border: 1px solid;
}
.btn--gradient {background: var(--gradient);}
.btn--transparant{
    background-color: transparent;
    border: none;
}
.action-buttons {
    display: flex;
    gap: 9px;
}
.search-btn {
    border: none;
    background: none;
}
.cart-btn {
    border: none;
    background: none;
}
.search-img{height: 28px;}
.cart-img{height: 28px;}

.banner-top{
    background: var(--gradient);
    padding: 15px 0;
    text-align: center;
}
.navbar{
    position: relative;
    display: flex;
    gap: 18px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
    padding: 24px 0;
    flex-wrap: wrap;
    position: relative;
    --icon-togle-menu: url('../assets/img/svg/bx-menu.svg');
    --transform-menu-show: translate(-100%);
}
.menu-links{
    display: flex;
    gap: 18px;
    align-items: center;
}
.navbar:has(.nav__input:checked){
    --icon-togle-menu: url('../assets/img/svg/bx-close.svg');
    --transform-menu-show: translate(0);
}
.cart-mobile{display: none;}
.header-fire, .main-logo, .nav__toggle{
    position: relative;
    z-index: 10;
}
.nav__toggle{
    display: none;
    width: 60px;
    height: 60px;
    background-image: var(--icon-togle-menu);
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    cursor: pointer;
    transition: background-image .5s;
}
.nav__input{
    display: none;
    width: 40px;
    height: 40px;
}
footer{
    background: var(--black);
    padding: 80px 20px 31px;
    .footer-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 55px;
        border-bottom: thin solid var(--dark-gray);
        margin-bottom: 23px;
    }
    .footer-logo{
        img{
            width: 100%;
            height: 100%;
        }
    }
    .footer-links{
        ul{
            padding-left: 120px;
           li{
                margin-bottom: 32px;
                a{
                    color: var(--white);
                    display: block;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                }
            } 
        }
    }
    .footer-subscribe{
        h3{
            font-weight: 600;
            color: var(--white);
            margin-bottom: 15px;
            font-size: 26px;
        }
        p{
            margin-bottom: 21px;
            font-size: 15px;
        }
        input{
            width: 72%;
            padding: 11px 24px;
            border: none;
            border-radius: 24px;
            margin-bottom: 38px;
            outline: none;
        }
        input::placeholder{
            color: var(--light-gray);
        }
        button{
            background: var(--orange);
            color: var(--white);
            padding: 10px 52px;
            border: none;
            border-radius: 24px;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
        }
    }
    .form-subscribe{position: relative;}
    .redes-social {
        display: flex;
        gap: 7px;
    }
    .copyright{
        p{
            text-align: center;
        }
    }
}
/*PDP*/
.details-products {
    padding-inline: 20px;
    margin-bottom: 68px;
}
.details-products__description {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    border-bottom: thin solid var(--light-gray);
    padding-bottom: 50px;
    margin-bottom: 45px;
}
.cards-products__imgs {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 12px;
    align-items: center;
    .card-product__detail{cursor: pointer;}
}
.options-details {
    background: var(--white-gray);
    padding: 33px 0;
    margin-bottom: 56px;
}
.container-products__options {
    display: flex;
    gap: 28px;
    a{
        font-weight: 500;
        transition: all 0.3s ease;
        &:hover{
            font-weight: 700;
            color: gray;
            border-bottom: 2px solid var(--orange);
            padding-bottom: 8px;
        }
    }
}
.cards-products__details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-inline: 12px;
    img{
        width: 100%;
        object-fit: cover;
    }
}
.card-main__products{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
    img{
        width: 100%;
        object-fit: scale-down;
    }
}
.cards-products__info {
    span{
        display: inline-block;
        padding-bottom: 20px;
    }
    h3{
        font-size: 37px;
        display: block;
        padding-bottom: 11px;
        font-weight: 700;
    }
    .span--medium{
        font-size: 28px;
        display: block;
        padding-bottom: 20px;
        font-weight: 700;
    }
    p{
        line-height: 24px;
        padding-bottom: 27px;
    }
    a{
        padding: 9px 78px;
        border: thin solid var(--light-gray);
        color: var(--light-gray);
        font-size: 26px;
    }
}
.cards-values {
    display: flex;
    gap: 25px;
    padding-bottom: 33px;
    margin-bottom: 40px;
    align-items: center;
    .price-quantity-container {
        display: flex;
        align-items: center;
        gap: 31px; 
    }
    .price {
        font-size: 39px;
        font-weight: bold;
        padding: 0;
    }
    .quantity-control {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 13px 20px;
    }
    .quantity-control label {
        font-size: 21px;
        color: var(--light-gray);
        margin-right: 10px;
    }
    .quantity-control button {
        background-color: #F7921E; 
        border: none;
        color: white;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0 5px;
    }
    .quantity-control .decrement {
        background-color: #B0B0B0; 
    }
    .quantity-control input[type="number"] {
        width: 40px;
        border: none;
        text-align: center;
        font-size: 16px;
        color: #333;
        background: none;
        outline: none;
    }
}
.item-products__details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 41px;
}
.item-product__detail {
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 12px 0px 12px 23px;
    .item-product__info{
        line-height: 21px;
        span{
            font-family: 'logiksemibold';
            font-size: 20px;
        }
    }
}
.container-other-products{
    padding-bottom: 27px;
    h3{
        font-size: 28px;
        font-family: var(--logik-semibold);
        letter-spacing: 1px;
    }
}
.product-parameter {
    background: var(--white-gray);
    padding: 100px 0;
}
.container-paramater {
    border-bottom: thin solid var(--light-gray);
    padding-bottom: 33px;
    .parameter-title {
        padding-bottom: 33px;
        h3{
            font-size: 28px;
            font-family: var(--logik-semibold);
            border-bottom: thin solid var(--light-gray);
            padding-bottom: 31px;
        }
    }
    .parameter-cards__icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 33px;
        .parameter-card__icon {
            display: flex;
            align-items: center;
            gap: 14px;
            .card__icon-img {
                padding: 10px;
                background: #EBEBEB;
                border-radius: 7px;
            }
            .card__icon-info {
                p{line-height: 19px;}
            }
        }
    }
}
.fire-kills {
    background: url(../assets/img/pdp/fire-kills-img.png), no-repeat;
    background-size: cover;
    padding: 143px 0;
}
.container-fire-kill {
    line-height: 53px;
    h3{
        font-size: 56px;
        font-family: var(--logik-semibold);

    }
    p{
        font-size: 43px;
        strong{
            font-family: var(--logik-semibold);
            font-weight: 600;
        }
    }
}
.container-lorem-ipsum {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.lorem-ipsum__img {
    transform: translateY(-82px);
    img{
        border: thin solid gainsboro;
        border-radius: 40px;
        width: 80%;
        object-fit: cover;
    }
}
.lorem-ipsum__info {
    padding-top: 84px;
    span{
        font-size: 30px;
        display: block;
        padding-bottom: 10px;
    }
    h3{
        font-size: 42px;
        font-weight: 600;
        font-family: 'logiksemibold';
        padding-bottom: 24px;
    }
    p{
        line-height: 23px;
    }
}
.faq {
    padding: 0 0 60px;
    margin-bottom: 26px;
}
.container-faq {
    h3{
        font-size: 28px;
        font-family: var(--logik-semibold);
        letter-spacing: 1px;
        padding-bottom: 20px;
    }
}
details {
    width: 100%;
    margin: 10px 0 14px;
}
summary {
    padding: 16px 14px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: var(--gray);
}
summary::marker {
    display: none; 
}
summary::after {
    content: "";
    width: 25px; 
    height: 25px; 
    background-image: url('../assets/img/svg/icon-arrow.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 15px;
    top: 13px;
    transition: transform 0.3s ease;
}
details[open] summary::after {
    transform: rotate(180deg); 
}
.accordion-content {
    padding: 10px;
    background-color: #fafafa;
}

@media (min-width: 768px) and (max-width: 960px){
    .container-products__options{
        justify-content: center;
    }
    .cards-products__details {
        padding-inline: 2px;
    }
    .cards-products__info{
        .title-desktop{display: none;}
    }
    .fire-kills {
        padding: 72px 0;
    }
    .lorem-ipsum__img {
        transform: translateY(-39px);
    }
}
@media (min-width: 580px) and (max-width: 767px){
    .container-products__options{justify-content: center;}
    .details-products__description {
        grid-template-columns: repeat(1, 1fr);
        .cards-products__imgs {
            margin-inline: 20px;
        }
    }
    .cards-products__info {
        text-align: center;
        .cards-values {
            padding-bottom: 18px;
            justify-content: center;
        }
    }
    .item-products__details {
        grid-template-columns: repeat(1, 1fr);
    }
    .container-paramater {
        text-align: center;
        .parameter-cards__icons{
            grid-template-columns: repeat(1, 1fr);
            .parameter-card__icon{
                justify-content: center;
            }
        }
    }
    .fire-kills {
        padding: 51px 0;
        .container-fire-kill {
            h3 {
                font-size: 45px;
            }
            p {
                font-size: 37px;
            }
        }
    }
    .lorem-ipsum{
        padding-bottom: 50px;
        margin-bottom: 30px;
       .container-lorem-ipsum{
            align-items: center;
           .title-desktop{display: none;}
            .lorem-ipsum__img {
                transform: translateY(0);
            } 
        } 
    }
    
    footer {
        & .footer-links {
            ul {
                 padding-left: 0px;
            }
        }
    }
}
@media (min-width: 320px) and (max-width: 579px){
    .container-products__options {
        justify-content: center;
    }
    .details-products__description {
        grid-template-columns: repeat(1, 1fr);
        .cards-products__imgs {
            grid-template-columns: 1fr;
            gap: 0px;
            margin-inline: 20px;
            .cards-products__details {
                flex-direction: row;
            }
        }
    }
    .cards-products__info {
        text-align: center;
        .cards-values {
            padding-bottom: 18px;
            justify-content: center;
            .price-quantity-container {
                flex-direction: column;
            }
        }
    }
    .item-products__details {
        grid-template-columns: repeat(1, 1fr);
        margin-inline: 20px;
    }
    .container-paramater {
        .parameter-cards__icons {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .fire-kills {
        padding: 43px 0px;
        margin-bottom: 68px;
        .container-fire-kill {
            line-height: 40px;
        }
        h3 {
            font-size: 39px;
            font-family: var(--logik-semibold);
        }
        p{
            font-size: 30px;
        }
    }
    .lorem-ipsum{padding-bottom: 60px;}
    .container-lorem-ipsum {
        grid-template-columns: 1fr;
        text-align: center;
        .lorem-ipsum__img {
            transform: translateY(0px);
            img {
                width: 51%;
            }
        }
        .lorem-ipsum__info {
            padding-top: 46px;
        }
    }
    .container-faq {
        h3 {
            text-align: center;        
        }
    }
    .container-other-products {
        h3{
            text-align: center;        
        }
    }
    footer {
        & .footer-links {
            ul {
                 padding-left: 0px;
            }
        }
    }
}