@font-face {
    font-family: 'logikwide_bold';
    src: url('./../assets/fonts/logik-wide-webfont.woff2') format('woff2'),
         url('./../assets/fonts/logik-wide-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'logikextended_medium';
    src: url('./../assets/fonts/logik-extended-6-webfont.woff2') format('woff2'),
         url('./../assets/fonts/logik-extended-6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'logiksemibold';
    src: url('./../assets/fonts/logik-6-webfont.woff2') format('woff2'),
         url('./../assets/fonts/logik-6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root{
    --yellow: #F4A800;
    --orange:  #F77F00;
    --red: #D62828;
    --gradient: linear-gradient(
        to right, 
        #D62828 13%, 
        #F77F00 54%, 
        #F68000 55%, 
        #F59600 69%, 
        #F4A300 84%, 
        #F4A800 97%
    );
    --blue: #28A2D6;
    --half-gray: #595959;
    --white: #FFFFFF;
    --white-gray: #F8F8F8;
    --light-gray: #B0B0B0;
    --gray: #767676;
    --dark-gray: #343434;
    --darker-gray: #131313;
    --black: #000000;
    --gradient-gray: linear-gradient(
        to right, 
        rgba(194, 194, 194, 1) 0%, 
        rgba(194, 194, 194, 0) 100%
    );
    --manrope: "Manrope", sans-serif;
    --logik-bold: 'logikwide_bold';
    --logik-semibold: 'logiksemibold';
    --openSans: "Open Sans", sans-serif;
} 
.container{
    max-width: 1242px;
    width: 100%;
    margin: 0 auto;
}
.title--bold{ font-family: var(--logik-bold);}
.title--semibold{ font-family: var(--logik-semibold);}
.title--big {font-size: 35px;}
.title--small{font-size: 14px !important;}
.title--upper {text-transform: uppercase;}
.title--black{color: var(--black);}
.title--white {color: var(--white);}
.title--gray{color: var(--gray);}
.title--dark-gray{color: var(--dark-gray);}
.title--yellow {color: var(--yellow);}
.title--orange{color: var(--orange);}
.title--gradient{
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 41px;
}
.title--semibold {font-weight: 400;}
.title--medium {font-weight:600;}
.title--bold{font-weight: 700;}
.title--border-red{ border-bottom: 3px solid var(--red);}
.title--border-orange{border-bottom: 3px solid var(--orange);}
.title--border-yellow{border-bottom: 3px solid var(--yellow)}
.title--border-blue{border-bottom: 3px solid var(--blue)}

.paragraph{font-family: var(--manrope);}
.paragraph--upper {text-transform: uppercase;}
.paragraph--medium{font-weight: 600;}
.paragraph--white{color: var(--white);}
.paragraph--light-gray{color: var(--light-gray)}
.paragraph--gray{color: var(--gray);}
.paragraph--orange{color: var(--orange);}
.paragraph-dark-gray{color: var(--dark-gray);}
.paragraph--semi{font-weight: 300;}
.paragraph--semibold{font-weight: 400;}
.paragraph-bk--orange{
    transition: all .5s;
    &:hover{
        background-color: var(--orange);
        color: var(--white);
    }
} 

.letter--big{font-size: 40px;}
.letter--medium{font-size: 30px;}
.letter-small{font-size: 16px;}

link{font-family: var(--manrope);} 
.link--upper{text-transform: uppercase;}
.link--medium{font-size: 15px;} 
.link--semibold{font-weight: 400;} 
.link--light-gray{color:var(--light-gray)}
.link--border{}

.bk--red{
    transition: all .5s;
    &:hover{
        background-color: var(--red);
        h2{
            color: var(--white);
        }
    }
}
.bk--orange{
    transition: all .5s;
    &:hover{
        background-color: var(--orange);
        h2{
            color: var(--white);
        }
    }
}
.bk--yellow{
    transition: all .5s;
    &:hover{
        background-color: var(--yellow);
        h2{
            color: var(--white);
        }
    }
}
.bk--blue{
    transition: all .5s;
    &:hover{
        background-color: var(--blue);
        h2{
            color: var(--white);
        }
    }
}
.btn {
    font-family: var(--manrope);
    cursor: pointer;
}
.btn--upper{ text-transform: uppercase; }
.btn--big {
    font-size: 18px;
    padding: 15px 45px;
}
.btn--medium{ padding: 12px 30px; }
.btn--white {
    background: none;
    border-color: var(--white);
    color: var(--white);
    transition: 0.3s linear all;
    &:hover{
        background: var(--orange);
        border-color: var(--white);
    }
}
.btn--light-gray{
    padding: 8px 20px;
    border: thin solid var(--light-gray);
}
.btn--bold{font-weight: 800;}
.btn--radius{ 
    border-radius: 30px;
    border: 1px solid;
}
.btn--gradient {background: var(--gradient);}
.btn--transparant{
    background-color: transparent;
    border: none;
}
.action-buttons {
    display: flex;
    gap: 9px;
}
.search-btn {
    border: none;
    background: none;
}
.cart-btn {
    border: none;
    background: none;
}
.search-img{height: 28px;}
.cart-img{height: 28px;}

.navbar{
    position: relative;
    display: flex;
    gap: 18px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
    padding: 24px 0;
    flex-wrap: wrap;
    position: relative;
    --icon-togle-menu: url('../assets/img/svg/bx-menu.svg');
    --transform-menu-show: translate(-100%);
}
.menu-links{
    display: flex;
    gap: 18px;
    align-items: center;
}
.navbar:has(.nav__input:checked){
    --icon-togle-menu: url('../assets/img/svg/bx-close.svg');
    --transform-menu-show: translate(0);
}
.cart-mobile{display: none;}
.header-fire, .main-logo, .nav__toggle{
    position: relative;
    z-index: 10;
}
.nav__toggle{
    display: none;
    width: 60px;
    height: 60px;
    background-image: var(--icon-togle-menu);
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    cursor: pointer;
    transition: background-image .5s;
}
.nav__input{
    display: none;
    width: 40px;
    height: 40px;
}
footer{
    background: var(--black);
    padding: 80px 20px 31px;
    .footer-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 55px;
        border-bottom: thin solid var(--dark-gray);
        margin-bottom: 23px;
    }
    .footer-logo{
        img{
            width: 100%;
            height: 100%;
        }
    }
    .footer-links{
        ul{
            padding-left: 120px;
           li{
                margin-bottom: 32px;
                a{
                    color: var(--white);
                    display: block;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                }
            } 
        }
    }
    .footer-subscribe{
        h3{
            font-weight: 600;
            color: var(--white);
            margin-bottom: 15px;
            font-size: 26px;
        }
        p{
            margin-bottom: 21px;
            font-size: 15px;
        }
        input{
            width: 72%;
            padding: 11px 24px;
            border: none;
            border-radius: 24px;
            margin-bottom: 38px;
            outline: none;
        }
        input::placeholder{
            color: var(--light-gray);
        }
        button{
            background: var(--orange);
            color: var(--white);
            padding: 10px 52px;
            border: none;
            border-radius: 24px;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
        }
    }
    .form-subscribe{position: relative;}
    .redes-social {
        display: flex;
        gap: 7px;
    }
    .copyright{
        p{
            text-align: center;
        }
    }
}
/*PDP*/
.details-products {
    padding-inline: 20px;
    margin-bottom: 30px;
}
.details-products__options {
}
.details-products__description {
    display: flex;
    gap: 10px;
}
.cards-products__imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cards-products__details {
}
.card-product__detail {
}
.card-main__products{}
.cards-products__info {
}
.cards-values {
}
.card-precie {
}
.card-quantity {
}
.item-products__details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.item-product__detail {
    display: flex;
    align-items: center;
    gap: 20px;
}
.item-product__info {
}

