@font-face {
    font-family: 'logikwide_bold';
    src: url('./../assets/fonts/logik-wide-webfont.woff2') format('woff2'),
         url('./../assets/fonts/logik-wide-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'logikextended_medium';
    src: url('./../assets/fonts/logik-extended-6-webfont.woff2') format('woff2'),
         url('./../assets/fonts/logik-extended-6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'logiksemibold';
    src: url('./../assets/fonts/logik-6-webfont.woff2') format('woff2'),
         url('./../assets/fonts/logik-6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root{
    --yellow: #F4A800;
    --orange:  #F77F00;
    --red: #D62828;
    --gradient: linear-gradient(
        to right, 
        #D62828 13%, 
        #F77F00 54%, 
        #F68000 55%, 
        #F59600 69%, 
        #F4A300 84%, 
        #F4A800 97%
    );
    --blue: #28A2D6;
    --half-gray: #595959;
    --white: #FFFFFF;
    --white-gray: #F8F8F8;
    --light-gray: #B0B0B0;
    --gray: #767676;
    --dark-gray: #343434;
    --darker-gray: #131313;
    --black: #000000;
    --gradient-gray: linear-gradient(
        to right, 
        rgba(194, 194, 194, 1) 0%, 
        rgba(194, 194, 194, 0) 100%
    );
    --manrope: "Manrope", sans-serif;
    --logik-bold: 'logikwide_bold';
    --logik-semibold: 'logiksemibold';
    --openSans: "Open Sans", sans-serif;
} 
body{
    font-family: var(--manrope);
}
.container{
    max-width: 1242px;
    width: 100%;
    margin: 0 auto;
}
.title--bold{ font-family: var(--logik-bold);}
.title--semibold{ font-family: var(--logik-semibold);}
.title--big {font-size: 35px;}
.title--upper {text-transform: uppercase;}
.title--white {color: var(--white);}
.title--dark-gray{color: var(--dark-gray);}
.title--yellow {color: var(--yellow);}
.title--orange{color: var(--orange);}
.title--semibold {font-weight: 400;}
.title--medium {font-weight:600;}
.title--bold{font-weight: 700;}
.title--border-red{ border-bottom: 3px solid var(--red);}
.title--border-orange{border-bottom: 3px solid var(--orange);}
.title--border-yellow{border-bottom: 3px solid var(--yellow)}
.title--border-blue{border-bottom: 3px solid var(--blue)}

.paragraph{font-family: var(--manrope);}
.paragraph--medium{font-weight: 600;}
.paragraph--white{color: var(--white);}
.paragraph--gray{color: var(--gray);}
.paragraph--semibold{font-weight: 400;}

.letter--big{font-size: 40px;}
.letter--medium{font-size: 30px;}
.letter-small{font-size: 16px;}

.banner-top{
    background: var(--gradient);
    padding: 15px 0;
    display: flex;
    justify-content: center;
}
.navbar{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
    padding: 24px 0;
    flex-wrap: wrap;
    position: relative;
    --icon-togle-menu: url('../assets/img/svg/bx-menu.svg');
    --transform-menu-show: translate(-100%);
}
.navbar:has(.nav__input:checked){
    --icon-togle-menu: url('../assets/img/svg/bx-close.svg');
    --transform-menu-show: translate(0);
}
.cart-mobile{display: none;}
.title-desktop{display: block;}
.menu-links{
    display: flex;
    gap: 18px;
    align-items: center;
}
.header-fire, .main-logo, .nav__toggle{
    position: relative;
    z-index: 10;
}
.nav__toggle{
    display: none;
    width: 60px;
    height: 60px;
    background-image: var(--icon-togle-menu);
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    cursor: pointer;
    transition: background-image .5s;
}
.nav__input{
    display: none;
    width: 40px;
    height: 40px;
}
link{font-family: var(--manrope);} 
.link--upper{text-transform: uppercase;}
.link--medium{font-size: 15px;} 
.link--semibold{font-weight: 400;} 
.link--light-gray{color:var(--light-gray)}

/* btns */
.btn {
    font-family: var(--manrope);
    cursor: pointer;
}
.btn--upper{ text-transform: uppercase; }
.btn--big {
    font-size: 18px;
    padding: 15px 45px;
}
.btn--medium{ padding: 12px 30px; }
.btn--white {
    background: none;
    border-color: var(--white);
    color: var(--white);
    transition: 0.3s linear all;
    &:hover{
        background: var(--orange);
        border-color: var(--white);
    }
}
.btn--bold{font-weight: 800;}
.btn--radius{ 
    border-radius: 30px;
    border: 1px solid;
}
.btn--gradient {background: var(--gradient);}
.btn--transparant{
    background-color: transparent;
    border: none;
}
.action-buttons {
    display: flex;
    gap: 9px;
}
.search-btn {
    border: none;
    background: none;
}
.cart-btn {
    border: none;
    background: none;
}
.search-img{height: 28px;}
.cart-img{height: 28px;}


.hero-fire {
    position: relative;
    background: url('../assets/img/bg-hero-img.jpg');
    background-size: cover;
    padding-top: 110px;
    margin-bottom: 100px;
}
/* .hero-fire::before{
    content: "";
    position: absolute;
    background: url(./../assets/img/hero.png) no-repeat;
    width: 32%;
    height: 100%;
    top: 0;
    background-size: cover;
    background-position: right;
    right: 0px;
} */
 .container-hero-fire{display: flex;}
.hero-fire__info h3{
    color: var(--white);
    font-size: 46px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.hero-fire__info h2{
    font-size: 61px;
    line-height: 74px;
    padding-bottom: 30px;
}
.title-mobile{display: none;}
.hero-fire__img  img{
    width: 100%;
    height: 100%;
} 
.product-fire{padding-bottom: 70px;}
.cards-fire {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}
.card-fire {padding-bottom: 20px;}
.card-img img{
    width: 100%;
    object-fit: fill;
}
.card-info{
    position: relative;
    text-align: center;
    border-inline: thin solid var(--light-gray);
    border-bottom: thin solid var(--light-gray);
    border-radius: 0px 0px 17px 17px;
    padding-bottom: 36px;
}
.card-icons{
    position: absolute;
    left: 0;
    right: 0;
    top: -23px;
    margin: auto;
    background: white;
    padding: 3px 4px;
    width: fit-content;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
}
.card-icons img{
    height: 34px;
    width: 34px;
}
.card-info span{
    display: inline-block;
    font-size: 19px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 12px;
}
.card-info p{
    font-size: 14px;
    margin-bottom: 30px;
    font-weight: 200;
    line-height: 18px;
}
.card-info a{color: var(--white)}
.benefits-fire {
    background: var(--gradient-gray);
    margin-bottom: 50px;
}

/* Frandugo code */

.essential{
    padding: 100px 0;
    h2{
        line-height: 45px;
        span{
            color: var(--orange);
        }
    }
    .essential-items{
        display: flex;
        gap: 25px;
        overflow-x: auto;
        white-space: nowrap;
        padding: 20px 1px;
    }
    .essential-item{
        background: var(--white-gray);
        box-shadow: 0 0 0px 1px var(--light-gray);
        border-radius: 10px;
        padding: 80px 54px;
        img{ 
            height: 40px;
            margin-bottom: 15px; 
        }
        h3{ 
            margin-bottom: 15px; 
            font-weight: 600;
            line-height: 20px;
            font-size: 20px;
        }
        p{
            font-size: 14px;
            line-height: 18px;
        }
    }
}

footer{
    background: var(--black);
    padding: 80px 0 31px;
    .footer-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 55px;
        border-bottom: thin solid var(--dark-gray);
        margin-bottom: 23px;
    }
    .footer-logo{
        img{
            width: 452px;
            height: 173px;
            transform: translateX(-71px);
        }
    }
    .footer-links{
        li{
            margin-bottom: 32px;
            a{
                color: var(--white);
                display: block;
                margin-bottom: 20px;
                text-transform: uppercase;
            }
        }
    }
    .footer-subscribe{
        h3{
            font-weight: 600;
            color: var(--white);
            margin-bottom: 15px;
            font-size: 26px;
        }
        p{
            margin-bottom: 21px;
            font-size: 15px;
        }
        input{
            width: 72%;
            padding: 11px 24px;
            border: none;
            border-radius: 24px;
            margin-bottom: 38px;
            outline: none;
        }
        input::placeholder{
            color: var(--light-gray);
        }
        button{
            background: var(--orange);
            color: var(--white);
            padding: 10px 52px;
            border: none;
            border-radius: 24px;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
        }
    }
    .form-subscribe{position: relative;}
    .redes-social {
        display: flex;
        gap: 7px;
    }
    .copyright{
        p{
            text-align: center;
        }
    }
}


/* Frandugo code end */

.key-benefits{
    display: flex;
    align-items: center;
    background: var(--half-gray);
    padding-right: 45px;
    border-radius: 15px;
    width: 100%;
    position: relative; 
    overflow: hidden; 
    .key-benefits__img {
        position: relative;
        flex: 1;
        border-radius: 15px 0 0 15px;
        overflow: hidden;
        img{
            max-width: 100%;
            height: 367px;
            object-fit: cover; 
            mask-image: linear-gradient(to right, black 70%, transparent 98%);
        }  
    } 
   .key-benefits__info{
        h3{
            font-family: var(--logik-bold);
            font-size: 35px;
            line-height: 48px;
            padding-bottom: 38px;
            letter-spacing: 5px;
        }
       
    } 
}
.why-smoke-fire {padding-bottom: 60px;}
.essential-scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.why-fire-scroll h3{
    font-size: 47px;
    line-height: 65px;
}
.title--orange {color: var(--orange);}
.btns {
    display: inline-block;
    background-color: var(--white-white);
}
.btn--bk-gray {
    background-color: var(--white-gray);
    padding: 2px 6px;
    border-radius: 10px;
    margin-right: 19px;
}
.btn--bk-orange {
    background-color: var(--white-gray);
    border: none;
    border-radius: 11px;
    padding: 20px 15px;
}
.btn--bk-orange:hover {
    background-color: var(--orange);
}
.btn--bk-orange:focus {
    background-color: var(--orange);
    outline: none; /* Evita el borde por defecto al enfocarse */
}
.btn--semi-orange{ padding: 20px 15px;}
.cards-scroll {
    display: flex;
    gap: 24px;
    overflow-x: auto; /* Habilita el scroll horizontal */
    white-space: nowrap; /* Evita que las tarjetas se vayan a la siguiente línea */
   
}
.card-scroll {
    background: var(--semi-white);
    border-radius: 10px;
    padding: 75px 36px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), /* Sombra pequeña y suave */
              0 1px 3px rgba(0, 0, 0, 0.08); /* Sombra adicional */
 
}
.card-scroll h4{
    font-size: 29px;
    padding-bottom: 21px;
}
.card-scroll p{
    font-size: 15px;
    line-height: 19px;
}
.why-choose {
    background: var(--gradient);
    padding-top: 72px;
    padding-bottom: 140px;
    h3{
        padding-bottom: 70px;
        text-align: center;
        font-size: 36px;
    }
}
.cards-choose {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:18px;
    span{
        display: inline-block;
        font-size: 19px;
        line-height: 23px;
        margin-bottom: 17px;
        font-weight: 600;
    }
    p{
        line-height: 21px;
        font-size: 14px;
    }
}
.card-choose {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    background: var(--white-gray);
    border-radius: 17px;
}
.card-choose__img img{
    width: 100%;
    object-fit: fill;
}  
.card-choose__info {
    position: relative;
    padding: 63px 39px 65px;
}
.card-choose__icons {
    position: absolute;
    left: 40px;
    top: -37px;
    margin: auto;
    background: white;
    padding: 9px 10px;
    width: fit-content;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
}
.card-choose__icons img{height: 44px;}
/* Breakpoint-mobile */
@media (min-width: 961px) and (max-width: 1265px){
    .hero-fire{
        &::before{width: 35%;}
        .hero-fire__info{margin-inline: 20px;}
    }
    .product-fire {margin-inline: 20px;}
    .home-banner{margin-inline: 20px;}
    .essential{margin-inline: 20px;}
    .cards-choose{margin-inline: 20px;}
}
@media (min-width: 768px) and (max-width: 960px){
    .navbar {gap:18px}
    .hero-fire{
        &::before{width: 41%;}
        .hero-fire__info{
            margin-inline: 18px;
            h2{
                font-size: 41px;
                line-height: 56px;
            }
            h3{
                font-size: 28px;
            }
        }
    }
    .cards-fire {
        grid-template-columns: repeat(2, 1fr);
        padding-inline: 13px;
    }
    .home-banner{padding-inline:20px;}
    .key-benefits {
        & .key-benefits__info {
            h3 {
                font-family: var(--logik-bold);
                font-size: 23px;
                line-height: 38px;
                padding-bottom: 33px;
                letter-spacing: 5px;
            }
            a{
                font-size: 14px;
                padding: 14px 28px;
            }
        }
    }
    .essential {
        padding: 100px 20px;
    }
    .why-choose{padding-inline: 20px;}
    .cards-choose {
        grid-template-columns: repeat(2, 1fr);
        gap:27px;
    }
}
@media (min-width: 580px) and (max-width: 767px){
    .cards-fire{grid-template-columns: repeat(1,1fr);}
    .key-benefits {
        flex-direction: column;
        padding-right: 0;
        padding-bottom: 80px;
        .key-benefits__img{ 
            img{
                mask-image: linear-gradient(to bottom, black 62%, transparent 84%);
            }
        }
        .key-benefits__info {
            h3 {
                font-family: var(--logik-bold);
                font-size: 27px;
                line-height: 32px;
                padding-bottom: 38px;
                letter-spacing: 5px;
            }
        }
        button{
            font-size: 17px;
            padding: 10px 25px;
        }
    }
    .cards-choose{grid-template-columns: repeat(1,1fr);}
    footer {
        .footer-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding-bottom: 55px;
            border-bottom: thin solid var(--dark-gray);
            border-bottom: 0;
            margin-bottom: 23px;
            text-align: center;
            padding-bottom: 20px;
        }
        .footer-logo {
            grid-row: 2;
            img{
                height: 129px;
                transform: translateX(0px);
            }
        }
        .footer-subscribe{
            h3,p,form{
                display: none;
            }
        }
        .redes-social {
            display: flex;
            gap: 7px;
            justify-content: center;
            padding-top: 37px;
        }
        .copyright {
            p {
                color: var(--white);
            }
        }
    }
}
@media (min-width: 320px) and (max-width: 579px){}